



.containerAll{
    grid-template-columns: repeat(2,1fr);
    display: grid;
    margin-left: 23em;
    border: 0.1em solid;
    border-left: none;
    border-right: none;
    border-color: rgba(253, 253, 253, 0.18);
    margin-right: 10em;
}
.containerAllSon{
    grid-template-columns: repeat(2,1fr);
    display: grid;
    margin-left: 23em;
    border: .1em solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: rgba(253, 253, 253, 0.18);
    margin-right: 2em;
}

.spanContainer{
    margin: 1em;
}


.controlContainer{
    text-align: end;
    display: grid;
    margin: 1em;
}


.titleContainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}


.updateContainer{
    color:  rgba(253, 253, 253, 0.493);
    display: flex;
}

.valuesTitle{
    color:#58a6ff;
    font-size:x-large;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}

.lenguajeContainer{
    display: flex;
}

.valuesLanguaje{
    font-size: small;
    margin-left: 1em;
}

.color{
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background-color: yellow;
}
.color2{
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background-color: rgb(5, 3, 159);
}


.valuesPublic{
    color:  rgba(253, 253, 253, 0.493);
    border: 1px solid rgb(200, 200, 200);
    font-size: small;
    border-radius: 1em;
    margin: 1em;
    padding-top: .3em;
    padding-bottom: .3em;
    padding-left: .5em;
    padding-right: .5em;
}
.titleContainer{
    margin-bottom: 1em;
    display: flex;
}
.valuesLanguaje{
    margin-right: 1em;
}
.valueslUpdate{
    font-size: small;
}



/* topMenuRepo */


.main{
    margin-top: 1em;
    margin-bottom:1em;
    margin-left: 23em;
}



.buttontopMenuRepo{
    margin-left: 1em;
    margin-right: 1em;
    padding-bottom: .6em;
    padding-top: .6em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: .5em;
    background-color: rgba(200, 200, 200, 0.206);
    color: aliceblue;
}

.inputtopMenuRepo{
    padding-right: 22em;
    padding-left: 1em;
    padding-bottom: .5em;
    padding-top: .5em;
    border: .01em  solid rgba(200, 200, 200, 0.269);
    border-radius: .5em;
    background-color: inherit;
    color:  rgba(200, 200, 200, 0.206);
    font-size: medium;
}